/* CSS Base copied from inclass example and then modified */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&family=Amarante&family=Poppins:wght@400;700&display=swap');

/* CSS Variables */
:root {
    --color-black: #000000;
    --color-darkgray: #141414;
    --color-white: #ffffff;
    --color-orange: rgb(249, 139, 5);
    --color-green: greenyellow;
    --color-darkslateblue: darkslateblue;
    --color-lightgrey: lightgray;
    --font-family: sans-serif;
    --ff-Rubik: "Rubik Distressed", sans-serif;
    --ff-Amarante: "Amarante", sans-serif;
    --ff-Poppins: "Poppins", sans-serif;
}

/* Global Styles */

* {
    box-sizing: border-box;
}

body {
    font-size: 1em;
    line-height: 1.5;
    color: #333;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--ff-Rubik), sans-serif;
}

h1, h2, h3 {
    color: var(--color-darkslateblue)
}

h4 {
    color: var(--color-orange);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}


/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

.col-1 { grid-column: span 1; }
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-5 { grid-column: span 5; }
.col-6 { grid-column: span 6; }
.col-7 { grid-column: span 7; }
.col-8 { grid-column: span 8; }
.col-9 { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-11 { grid-column: span 11; }
.col-12 { grid-column: span 12; }

/* Inline Menu */   
.inline-menu {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    list-style-type: none;
}

.button {
    all: unset;
    font-family: var(--ff-Amarante);
    display: inline-block;
    padding: 0.25rem .5rem;
    background-color: var(--color-darkslateblue);
    color: var(--color-white);
    text-decoration: none;
    border: 1px solid #000;
}

.button:hover {
    background-color: var(--color-green);
    color: var(--color-black);
    cursor: pointer;
}

.all-movies {
    background-color: var(--color-orange);
    border: solid 1px var(--color-black);
    color: var(--color-white);
}

.home-title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: var(--color-black);
}

/* Card */

.card {
    border: 1px solid #000;
    box-shadow: 3px 3px 0 0 black;
}

.card-content {
    padding: 1rem;
}

.card-content > *:first-child {
    margin-top: 0;
}

.card-content > *:last-child {
    margin-bottom: 0;
}

.card img {
    width: 100%;
    height: auto;
}

.movie-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .25rem;
}

/* Header Styles */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #000;
	margin-bottom: 3rem;
	padding: 1rem 0;
    background-color: var(--color-darkslateblue);
}

.main-nav {
	display: flex;
	gap: 2rem;
	justify-content: space-between;
	align-items: center;
    color: var(--color-white);
}

/* Filter Styles */

.filters-container {
    border: 2px solid var(--color-black);
    margin-bottom: 1rem;
    background-color: var(--color-lightgrey);
    padding: 2px;
}

.filter-section {
	margin-bottom: 1rem;
}

.filter-section label {
	display: block;
	margin-bottom: 0.5rem;
	font-family: var(--ff-Amarante), sans-serif;
	font-size: 16px;
}

.filter-section input {
	margin-right: 0.5rem;
}

.filter-section input[type="text"] {
	border: 1px solid #000;
	padding: 0.5rem;
	font-family: "perfect-dos", monospace;
	max-width: 100%;
}

.filter-section input[type="submit"] {
	margin-top: 0.5rem;
}

.filter-text {
    font-size: .8rem;
    margin-bottom: 2rem;
}

form h4 {
    margin-bottom: 1rem;
}

.filter-submit {
    margin-top: 1.5rem;
}

/* Footer Styles */
.footer-bg {
	border-top: 1px solid #000;
	padding: 1rem 0;
	margin-top: 4rem;
	background-color: var(--color-darkslateblue);
}

.footer-bg p {
	font-family: var(--ff-Poppins);
	margin: 0;
	color: #fff;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* modal form */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    padding: 2rem;
    max-width: 600px;
    width: 100%;
    position: relative;
}

.modal__close-button {
    font-family: var(--ff-Poppins);
    font-size: 2rem;
    position: absolute;
    top: .5rem;
    right: .5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

label {
    display: block;
    margin-top: 1em;
    font-family: var(--ff-Poppins);
}

/* Movie Page */
.movie-page-title {
    color: var(--color-black);
    margin-bottom: 0;
}

.movie-page-director {
    font-family: var(--ff-Amarante);
    margin-bottom: 2rem;
}

.movie-page-content p {
    margin: 0.5rem 0;
    margin-bottom: 2rem;
    padding: 0;
    line-height: 1.75;
}